{% extends 'AcmeDemoBundle::layout.html.twig' %}

{% block content %}
    <h1 class="title">{% trans %}Please log in{% endtrans %}</h1>

    <p>
        {% trans %}Choose between two default users:{% endtrans %} 
    </p>

    {% if error %}
        <div class="error">{{ error.message|trans }}</div>
    {% endif %}

    <form action="{{ path("login_check") }}" method="post" id="login">
        <div>
            <label for="username">{% trans %}Username{% endtrans %}</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" />
        </div>

        <div>
            <label for="password">{% trans %}Password{% endtrans %}</label>
            <input type="password" id="password" name="_password" />
        </div>

        <button type="submit" class="sf-button">
            <span class="border-l">
                <span class="border-r">
                    <span class="btn-bg">Login</span>
                </span>
            </span>
        </button>
    </form>
{% endblock %}

