<!DOCTYPE html>
<ul>
      <li><a href="#" title="">HOME</a></li>
      <li><a href="#" title="">ABOUT US</a></li>
      <li><a href="#" title="">NEWS</a></li>
      <li><a href="#" title="">CONTACT US</a></li>
      <li><a href="#" title="">LINKS</a></li>
</ul>
