{% extends '::beauty.html.twig' %}
{% block title "Muéstralos Todos "%}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/acmedemo/css/beauty.css') }}" />
{% endblock %}


{% block headline1 %}EL AUTOR DE LA RECETA ES {% endblock %}

{% block headline2 %}ESTA RECETA ES DE NIVEL {% endblock %}

{% block content_headline2 %}
<ul>
    {%for receta in recipe %}
        <li>{{receta.name}}</li>
    {% endfor %}
</ul>
{% endblock %}


    
{% set code = code(_self) %}
