
<h1>Test Translation</h1>

{% trans %}Symfony is great{% endtrans %}<br>
{% transchoice count %}
    {0} There are no apples|{1} There is one apple|]1,Inf] There are many apples
{% endtranschoice %}

